@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

.btn {
  padding: 0px 15px;
  margin: 0px auto;
  min-width: 50px;
  line-height: 50px;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(38, 37, 37, 0.1);
  box-shadow: 0px 5px 5px 0px rgba(38, 37, 37, 0.1);
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fface8), to(#ae80e5));
  background: linear-gradient(#fface8, #ae80e5);
  -webkit-box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
  box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
}

@keyframes option-loading {
  0% {
    color: white;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    background-color: #fff;
    color: black;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
    box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
  }
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#logo .return-icon {
  font-size: larger;
  width: 40px;
  padding: 15px;
}

#logo .return-icon a {
  color: black;
}

#logo .logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Shrikhand", cursive;
  -webkit-transform: translateX(-15px);
  transform: translateX(-15px);
  font-size: 35px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #logo .logo-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-image-bastille {
  background-image: url("../images/restaurants/bastille.jpg");
}

.menu-image-fullpalette {
  background-image: url("../images/restaurants/fullpalette.jpg");
}

.menu-image-enchanted {
  background-image: url("../images/restaurants/enchanted.jpg");
}

.menu-image-legourmand {
  background-image: url("../images/restaurants/gourmand.jpg");
}

.menu-image {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .menu-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 350px;
  }
}

.menu-heading-border-radius {
  background: #f6f6f6;
  height: 50px;
  margin-top: -50px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

@media screen and (min-width: 768px) {
  .menu-heading-border-radius {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.restaurant-menu {
  margin-top: -25px;
  background: #f6f6f6;
}

.restaurant-menu .menu-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.restaurant-menu .heart {
  font-size: 25px;
  padding-right: 20px;
}

.restaurant-menu .heart:hover .fill-heart {
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.restaurant-menu .heart .fill-heart {
  background: radial-gradient(ellipse at bottom, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
}

.restaurant-menu h1 {
  font-size: 25px;
  margin-left: 15px;
}

.restaurant-menu h3 {
  margin-top: 40px;
  margin-left: 15px;
  font-weight: normal;
  font-size: medium;
}

.restaurant-menu h3:before {
  border-bottom: 3px solid #99E2D0;
  content: "";
  position: absolute;
  width: 2rem;
  height: 1rem;
  padding: 0.2rem;
}

.restaurant-menu h4 {
  font-family: 'Roboto', sans-serif;
}

.restaurant-menu p {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 5px;
}

.restaurant-menu .order-btn {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

.restaurant-menu .order-btn .btn {
  margin-left: 25%;
  margin-right: 25%;
  padding: 0px 75px;
  max-width: 370px;
}

@media screen and (min-width: 768px) {
  .restaurant-menu .order-btn .btn {
    margin-left: 40%;
    margin-right: 40%;
    padding: 0;
    text-align: center;
  }
}

.listing-1,
.listing-2,
.listing-3,
.listing-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 10px;
  -webkit-animation: option-loading 3s forwards;
  animation: option-loading 3s forwards;
  margin: 20px 15px 25px 15px;
  overflow: hidden;
  color: transparent;
}

.listing-inner,
.listing-1 .listing-inner,
.listing-2 .listing-inner,
.listing-3 .listing-inner,
.listing-4 .listing-inner {
  text-overflow: ellipsis;
  width: 100%;
  padding: 5px;
}

.listing-heading,
.listing-1 .listing-heading,
.listing-2 .listing-heading,
.listing-3 .listing-heading,
.listing-4 .listing-heading {
  text-align: left;
  white-space: nowrap;
  margin: 5px 0px 5px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.listing-info-container,
.listing-1 .listing-info-container,
.listing-2 .listing-info-container,
.listing-3 .listing-info-container,
.listing-4 .listing-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.listing-info,
.listing-1 .listing-info,
.listing-2 .listing-info,
.listing-3 .listing-info,
.listing-4 .listing-info {
  font-size: 15px;
  text-align: left;
  width: 100%;
  margin: 0px 0px 5px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price,
.listing-1 .price,
.listing-2 .price,
.listing-3 .price,
.listing-4 .price {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: smaller;
  padding-left: 15px;
  width: 60px;
}

.tick,
.listing-1 .tick,
.listing-2 .tick,
.listing-3 .tick,
.listing-4 .tick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  background: #99e2d0;
  -webkit-transform: translateX(60px);
  transform: translateX(60px);
  height: 67px;
  right: -60px;
  position: absolute;
  border-radius: 0px 10px 10px 0px;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.tick i,
.listing-1 .tick i,
.listing-2 .tick i,
.listing-3 .tick i,
.listing-4 .tick i {
  color: #fff;
  font-size: 20px;
}

.listing-1:hover,
.listing-2:hover,
.listing-3:hover,
.listing-4:hover {
  cursor: pointer;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.listing:hover .listing-heading,
.listing-1:hover .listing-heading,
.listing-2:hover .listing-heading,
.listing-3:hover .listing-heading,
.listing-4:hover .listing-heading {
  width: calc(100% - 120px);
}

.listing:hover .tick,
.listing-1:hover .tick,
.listing-2:hover .tick,
.listing-3:hover .tick,
.listing-4:hover .tick {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  right: 0;
}

.listing:hover .price,
.listing-1:hover .price,
.listing-2:hover .price,
.listing-3:hover .price,
.listing-4:hover .price {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  margin-right: 60px;
}

.listing:hover i,
.listing-1:hover i,
.listing-2:hover i,
.listing-3:hover i,
.listing-4:hover i {
  opacity: 1;
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.listing-1 {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.listing-2 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.listing-3 {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.listing-4 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

footer {
  background: #353535;
  color: white;
  min-height: 200px;
}

footer .logo-footer {
  font-family: "Shrikhand", cursive;
  font-size: large;
  padding: 25px 0px 0px 25px;
}

footer ul {
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
  margin-bottom: 30px;
  list-style: none;
}

footer ul li {
  margin-top: 5px;
  margin-left: 15px;
}

footer ul a {
  color: white;
  text-decoration: none;
}

footer i {
  width: 25px;
}